snippet charset "CHARSET" b
@CHARSET "${1:UTF-8}";

endsnippet

snippet header "Header CSS"
h${1} {
	width: ${2:80%};
	margin: ${3:up right down left};
	height: ${4:30px};
	line-height: ${5:30px};
	text-align: ${6:center};
	border: ${7:1px dashed #333};
}
endsnippet
