snippet php "php block" b
<?php
	${1}
?>
endsnippet

snippet div "Div"
<div id="${1:class}">
	${2}
</div>
endsnippet

snippet head "Header"
<h${1:1}>${2}</h$1>
endsnippet

snippet script "Script"
<script type="${1:text/javascript}" src="${2:js/face.js}"></script>
endsnippet
